body { padding: 2em; }

a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; }

body,
section,
ul,
figure {
	display: grid;
	gap: 1em;
}



ul {
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 400px) {
  ul { --columns: 2; }
}

@media (min-width: 600px) {
  ul { --columns: 7; }
}

@media (min-width: 1000px) {
  ul { --columns: 9; }

}